body {
  background-color: #f2c0bc; 
}

.carrusel {
  width: 50vw; 
  height: 70vh; 
  margin: 0 auto; 
  overflow: hidden; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  border: 5px solid white;
  border-radius: 5px;
}

.carrusel video {
  width: auto; 
  height: auto; 
  object-fit: cover; 
}

