*{
  font-family: "Pacifico", system-ui;
    font-weight: 400;
    font-style: normal;
}
.Footer {
    padding: 2rem 0;
    margin-top: 10rem; 
    background-color: #efe9d1;
    font-family: "Pacifico", system-ui;
    font-weight: 400;
    font-style: normal;
}

.ft-1 h3 {
    font-weight: 700;
    font-family: cursive;
    letter-spacing: 2px;
    padding: 0.5rem 0;
    color: #f15e82;
    font-family: "Pacifico", system-ui;
    font-weight: 400;
    font-style: normal;
}

.ft-1 span {
    color: #f3a8ac;
    font-family: "Pacifico", system-ui;
    font-weight: 400;
    font-style: normal;
}

.ft-1 p {
    padding: 0rem 2rem 0.8rem 0; 
    font-weight: 500;
    font-family: "Pacifico", system-ui;
    font-weight: 400;
    font-style: normal;
}

.footer-icons a {
    color: #f15e82; 
    transition: color 0.3s;
  }
  
  .footer-icons a:hover {
    color: #f3a8ac; 
  }


.Footer h5 {
    color: #f15e82;
    margin-bottom: 2rem; 
    font-family: "Pacifico", system-ui;
    font-weight: 400;
    font-style: normal;
}

.tecitali-image {
    width: 200px; 
    height: auto; 
    display: inline-block; 
    vertical-align: middle; 
  }

.Last-footer {
    background: black;
    text-align: center;
    padding: 1rem 0;
}

.Last-footer p {
    margin-bottom: 0;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff; 
    font-family: "Pacifico", system-ui;
    font-weight: 400;
    font-style: normal;
}


.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #f15e82;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .whatsapp-float:hover {
    background-color: #128c7e;
    cursor: pointer;
  }
  
  .whatsapp-float svg {
    width: 100%;
    height: 100%;
  }

  .textofooter{
    font-family: "Pacifico", system-ui;
    font-weight: 400;
    font-style: normal;
  }