.header {
    margin-bottom: 20px;   
    font-family: "Pacifico", system-ui;
    font-weight: 400;
    font-style: normal;
    
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
    
  }
  
  .navbar-brand img {
    border-radius: 50%; 
    margin-right: 10px; 
    object-fit: cover; 
    width: 120px; 
    height: 120px; 
  }

  .nav-link {
    position: relative;
    color: #000; 
    text-decoration: none; 
    padding: 5px 0; 
    transition: color 0.3s ease; 
  }
  
  .nav-link:hover {
    color: #f2c0bc;  
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%; 
    background-color: #f2c0bc; 
    transition: all 0.3s ease-in-out;
    transform: translateX(-50%); /* Centra el punto inicial */
    visibility: hidden; 
  }
  
  .nav-link:hover::after {
    visibility: visible;
    width: 100%; 
    left: 0; 
    transform: translateX(0); /* Elimina la traslación */
  }