
.main-clientas-container {
  padding: 20px 0;
  background-color: #f0c8be;
}

.TituloClientas {
  margin-bottom: 20px;
  font-family: Arial Black; 
  font-weight: bold; 
  font-size: 30px; 
  color: #f48f9f; 
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.CardClientas .col-md-3 {
  flex: 0 0 25%; /* Asegura que cuatro cards quepan en una fila en pantallas medianas */
  max-width: 25%; /* Asegura que cuatro cards quepan en una fila en pantallas medianas */
}

.CardClientas .card {
  height: 250px; /* Ajusta la altura de la card */
  overflow: hidden;
}

.CardClientas .card img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}