*{
    font-family: "Kanit", sans-serif;
    font-weight: auto;
    font-style: normal;
}
.Servicios{
    font-family: "Kanit", sans-serif;
    font-weight: auto;
    font-style: normal;
}

.TituloServicios{
    text-decoration: underline;
}

