.Promos{
  text-align: left; 
  font-family: Arial Black; 
  font-weight: bold; 
  font-size: 30px; 
  color: #fff; 
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
.promo-container {
    padding: 20px 0;
    background-color: #f0c8be;;
  }
  
  .video-responsive {
    width: 100%;
    height: auto;
    max-height: 70vh; 
  
  }
  
  .promo-video {
    padding-right: 2rem; 
  }
  
  .promo-text {
    padding-left: 2rem;
     
  }

  .promo-text h1{
    text-decoration: dashed;
    color: #ff0000;
  }

  .botonpromo{
    color: #f48f9f;
    text-decoration: none;
  }